{% extends "webapp/base.html" %}


{% load static %}




{% block title%} Kontakt {% endblock %}






{% block content %}








	
<h1>Kontakt</h1>
<!-- <h3>Predsednik kućnog saveta</h3>

<ul class="contact">
	
	<li><h4>Mirko Dragićević</h4></li>
	<li><h4>Adresa:</h4></li>
	<li><h4>Telefon:</h4></li>
</ul>


 -->

 {% for kontakt in kontakti %}



	<h3 class="contact">{{ kontakt.funkcija }}</h3>
	
 	<ul class="contact">
	
	<li class="contact">Ime i prezime: {{ kontakt.ime}} {{ kontakt.prezime }}</li>
	<li class="contact">Adresa: {{ kontakt.adresa }}</li>
	<li class="contact">Telefon: {{ kontakt.telefon }}</li>
</ul>





<hr>
{% endfor %}

{% endblock %}