{% extends "webapp/base.html" %}


{% load static %}




{% block title%} Finansije {% endblock %}






{% block content %}








	
<h1>Finansije</h1>



<table>
	<caption>Plaćanje održavanja</caption>
		
		<tr><th>Ime i Prezime</th><th>Iznos</th></tr>
		<tr><td>Pera Perić</td><td>150</td></tr>
		<tr><td>Mika Mikić</td><td>250</td></tr>
		<tr><td>Đoka Đokić</td><td>300</td></tr>
		<tr><td>Milena Milenić</td><td>230</td></tr>
		<tr><td>Jelena Jelenić</td><td>150</td></tr>

</table>



{% endblock %}