* {

	margin:  0px;
	padding: 0px;
	box-sizing: border-box;

}

html,body, #wrap{

font-family: 'Poppins', sans-serif;

/* background-image: url('../img/panorama-pobednik-trans.4-bw.jpeg') ; */
background-image: url('../img/marbel.jpg') ;
background-repeat: no-repeat;

background-position: center;
background-size: cover;



height: 100%;/*from sticky footer settings*/


}

/*THE RULE OF SPECIFICITY!!*/

/* 
.hero-image {
 background-image: url('../img/panorama-pobednik-trans.4-bw.jpeg') ;
 background-color: #cccccc;
 height: 1000px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;



}
 */






/*BEGIN ALL FOR STICKY FOOTER SETTONGS plus height setting in body tag*/
body > #wrap {
    height: auto;
    min-height: 100%;
}

#sub_wrap{


	  padding-bottom: 50px;  /* must be same height as the footer */
}







.footer{

position: relative;
width: 100%;
height: 50px;
margin-top: -50px;/* negative value of footer height */
background:  #fff;
align-items: center;
/* background-color: #8e1919; */
 background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
/* background: linear-gradient(to right, #a6a6a6, #d9d9d9);
 */

text-align: center;

}


.footer h4{

	font-size: 12px;
	padding: 15px;
}


/* CLEAR FIX */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End hide from IE-mac */


/*BND ALL FOR STICKY FOOTER SETTONGS plus height setting in body tag*/




header {


		display: flex;
	/* 	background: #8e1919; */
		 background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
		height: 60px;
		align-items:center;
	


}

.logo_container, .search-box .login-register_nav{


			display: flex;


}

.search_box{


	flex: 1;
}


.search_text_box{


	padding: 2px 0px 2px 2px;
	border-radius: 10px;
	margin: 10px 1px 10px 10px;


}

.search_button{

	/* background: #000000; */
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 31%, rgba(109,0,25,1) 100%); /* FF3.6-15 */	border-top-style: solid;

	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 10px;
	border: none;
	color:#c3c4d0;
	margin: 10px 15px 10px 1px;


}


.logo_container{
	
	
		font-size: 38px;
		/* color: #81011e; */
		color: #afc4d0;
		font-weight: bold;


}





.login-register_nav{

		flex: 1;
		margin-right: 10px;
			 text-transform: uppercase;

	/* visibility: hidden; */ /*da uklonim sadrzaj a da ostavim tag*/
	/*  display: none; */ /*da uklonim i tag i sadrzaj*/

}



.login-register_nav ul{

	
	
	display: flex;
	justify-content: flex-end;
	list-style: none; /*sklonio bullete iz uedjene liste*/



}


.login-register_nav li{


	
	


}


.login-register_nav a{

text-decoration: none; /*sklonio liniju ispod linka*/
color: #c3c4d0;


}



/*Navigation*/

nav{

	/* background: #8e1919; */
/* 	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -moz-linear-gradient(top, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 31%, rgba(109,0,25,1) 100%); /* FF3.6-15 */	
/* border-top-style: solid;
	border-top-width: 1px; */

/* border-bottom-style: solid;
	border-bottom-width: 1px;	 */

	/* border-color: #b1b6ba; */
	border-color: #000000;

}


nav ul{

		
  	display: flex;
  	height: 30px;
	align-items:center;

		  
		
		
}

nav a{


		color: #c3c4d0;
		text-decoration: none;
		 text-transform: uppercase;


}

a.home_link{

	color: black;
	background-color: #d4dbe3;
	padding: 4px;
	
}


a.obavestenja_link{

color: black;
background-color: #dbe2ec;
padding: 4px;

}



a.kontakt_link{

color: black;
background-color:#e3ebfa;
padding: 4px;

}




nav a:hover{

color: blue; 
text-decoration: underline; 
font-weight: bold;

}


.nav_links {

	justify-content: space-around;
	list-style: none; /*sklonio bullete iz uedjene liste*/

} 




.presentation{ /*presentation je sekcija u kojoj su i teksz i laptopp i pomocu ovog display flex tekst i laptop stoje u liniji a ne jedno ispod drugog*/
/* 
	display: flex; */
	width:60%;
	margin:auto; /*stavis da bi podjednako s obe strane smanjio kad je sirina manja od 100%*/
	min-height: 90vh;	
	align-items: center;
	margin-top: 80px;


}


.presentation h1{

	font-size: 42px;
	color: black;
	padding-bottom: 20px;
	text-decoration: underline;

}


.date{


	font-size: 13px;
	font-style: oblique;
	opacity: .7

}

.presentation p {


	padding-bottom: 5px;

}

.presentation h2{


	padding-top: 15px;


}



.presentation h3{


	font-size: 22px;
	color: #000000;
	padding-bottom: 20px;

}

.presentation h4{


	font-size: 18px;
	color: black;
	padding-bottom: 20px;


}

.grad-trans{

	width: 100%;
	height: 25px;
	background: linear-gradient( #ed1c24,#5a8ab6,white);
	/* background: -moz-linear-gradient(top, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 31%, rgba(109,0,25,1) 100%); */

}


.sub_presentation{

	display: flex;
    width:100%;
	margin:auto; /*stavis da bi podjednako s obe strane smanjio kad je sirina manja od 100%*/
	min-height: 35vh;	

	/* margin-top: 80px; */

/* 
	background-color: #ced5df; */
	background-color: #dbe1ec;

/* 	border-top-style: ridge;
	border-top-width: 2px;
	border-color: grey; */



}






/* Create two equal columns that floats next to each other */
.column {
  /* float: left; */
/*   display: flex;
  flex-direction: row;
	align-items: center; */
  /*  justify-content: space-between; */
  width: 50%;
  padding: 30px;
 /*  height: 300px; */ /* Should be removed. Only for demonstration */
  text-align: center;


}






.column img{

	
	
	height: 25vh;
	width: 25vh;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



ul.contact  {

	list-style-type: square;
	margin-left: 20px;
}




img.trans{

opacity: 0.8;

}
/*Search button code*/

/* .tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #e16868;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}
 */

 /*responsive*/

 @media screen and (max-width: 1024px){


	header{

			flex-direction: column;
			height: 100%;
			padding-top: 10px;
			padding-bottom : 20px;


	}

	.presentation{


		flex-direction: column;
	}

	.sub_presentation {

		display: flex;
     flex-direction: column;
     align-items: center;

	}

	nav ul{
			flex-direction: column;
			height: 100%;

	}

 }