* {

	margin:  0px;
	padding: 0px;
	box-sizing: border-box;

}

html,body, #wrap{

font-family: 'Poppins', sans-serif;

/* background-image: url('../img/panorama-pobednik-trans.4-bw.jpeg') ; */
background-image: url('../img/marbel.jpg') ;
background-repeat: no-repeat;

background-position: center;
background-size: cover;




height: 100%;/*from sticky footer settings*/


}

/*THE RULE OF SPECIFICITY!!*/

/* 
.hero-image {
 background-image: url('../img/panorama-pobednik-trans.4-bw.jpeg') ;
 background-color: #cccccc;
 height: 1000px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;



}
 */






/*BEGIN ALL FOR STICKY FOOTER SETTONGS plus height setting in body tag*/
body > #wrap {
    height: auto; /*Ovo povecava visinu automatski u skladu sa sadrzajem*/
    min-height: 100%;
}

#sub_wrap{


	  padding-bottom: 50px;  /* must be same height as the footer */
}







.footer{

position: relative;
width: 100%;
height: 50px;
margin-top: -50px;/* negative value of footer height */
background:  #fff;
align-items: center;
/* background-color: #8e1919; */
 background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
/* background: linear-gradient(to right, #a6a6a6, #d9d9d9);
 */

text-align: center;

}


.footer h4{

	font-size: 12px;
	padding: 15px;
}


/* CLEAR FIX */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End hide from IE-mac */


/*BND ALL FOR STICKY FOOTER SETTONGS plus height setting in body tag*/




header {


		display: flex;
	/* 	background: #8e1919; */
		 background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
		height: 60px;
		align-items:center;
	


}

/* .logo_container, .search-box .login-register_nav{


			display: flex;


}
 */
.search_box{


	flex: 1;

}


.search_text_box{


	padding: 2px 0px 2px 2px;
	border-radius: 10px;
	margin: 10px 1px 10px 10px;


}

.search_button{

	/* background: #000000; */
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 31%, rgba(109,0,25,1) 100%); /* FF3.6-15 */	border-top-style: solid;

	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 10px;
	border: none;
	color:#c3c4d0;
	margin: 10px 15px 10px 1px;


}


.logo_container{
	
	
		font-size: 38px;
		/* color: #81011e; */
		color: #afc4d0;
		font-weight: bold;



}





.login-register_nav{

		flex: 1;
		margin-right: 10px;
		text-transform: uppercase;

	/* visibility: hidden; */ /*da uklonim sadrzaj a da ostavim tag*/
	/*  display: none; */ /*da uklonim i tag i sadrzaj*/

}



.login-register_nav ul{

	
	
	display: flex;
	justify-content: flex-end;
	list-style: none; /*sklonio bullete iz uedjene liste*/



}


.login-register_nav li{


	
	


}


.login-register_nav a{

text-decoration: none; /*sklonio liniju ispod linka*/
color: #c3c4d0;


}



/*Navigation*/

nav {

   width: 100%;
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 31%, rgba(109,0,25,1) 100%); FF3.6-15	

    border-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: .5px;
   /*  min-width: 511px; */


   


}


nav ul{

    height: 30px;	   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 3px;

			  
	
}


nav li{


    float: left;
    margin-left: 0px;



  

}

nav a{

    display: block;
   
 
    color: #c3c4d0;
   
/*     padding-top:  4px; */

    margin-left: 120px ;

    text-decoration: none;
    text-transform: uppercase;
  


     /*      background-color: black; */

}



/* 
nav li.active {
    background-color:green;
}
nav   li.active a {
    color:#fff;
    font-weight:bold;
}

 */

#active_nav ul li .active {
    border-bottom:3px #FFF solid;
    }



nav a:hover{

color: #2061a6; 

font-weight: bold;

}






.presentation{ /*presentation je sekcija u kojoj su i teksz i laptopp i pomocu ovog display flex tekst i laptop stoje u liniji a ne jedno ispod drugog*/
/* 
	display: flex; */
	width:60%;
/*   height: auto; */
	margin:auto; /*stavis da bi podjednako s obe strane smanjio kad je sirina manja od 100%*/
	min-height: 90vh;	
	align-items: center;
	margin-top: 50px;
  margin-bottom: 60px;

  



}


.presentation h1{

	font-size: 42px;
	color: black;
	padding-bottom: 20px;
	text-decoration: underline;

}


.date{


	font-size: 13px;
	font-style: oblique;
	opacity: .7

}

.presentation p {


	padding-bottom: 5px;

}

.presentation h2{


	padding-top: 15px;


}



.presentation h3{


	font-size: 22px;
	color: #000000;
	padding-bottom: 20px;

}

.presentation h4{


	font-size: 18px;
	color: black;
  margin-top: 20px;
	padding-bottom: 20px;



}


/*image on home page*/
.imageFloatRight{
  

  float:right;
  margin:10px;
  width:250px;


}

.imageFloatLeft{
  

  float:left;
  margin:10px;
  width:250px;


}


.toClear {clear:both;} /*It pushes the tag that has 'clear: both' applied, past any floated tags.*/





/*Between presentation an sub-presentation */
.grad-trans{



	width: 100%;
	height: 25px;
	background: linear-gradient( #ed1c24,#5a8ab6,white);
	/* background: -moz-linear-gradient(top, rgba(169,3,41,1) 13%, rgba(143,2,34,1) 31%, rgba(109,0,25,1) 100%); */

}


.sub_presentation{

	display: flex;
    width:100%;
	margin:auto; /*stavis da bi podjednako s obe strane smanjio kad je sirina manja od 100%*/
	min-height: 35vh;	

	/* margin-top: 80px; */

/* 
	background-color: #ced5df; */
	background-color: #dbe1ec;

/* 	border-top-style: ridge;
	border-top-width: 2px;
	border-color: grey; */



}



.sub_presentation2{


 width: 100%;
 min-height: 40em;
 margin: auto;





  background-image: url('../img/panorama-beograd.jpeg');
 background-repeat: no-repeat;

background-position: center;
background-size: cover;

 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);



}






/* Create two equal columns that floats next to each other */
.column {
  /* float: left; */
/*   display: flex;
  flex-direction: row;
	align-items: center; */
  /*  justify-content: space-between; */
  width: 50%;
  padding: 30px;
 /*  height: 300px; */ /* Should be removed. Only for demonstration */
  text-align: center;


}

.column img{

	
	
	height: 25vh;
	width: 25vh;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*Settings for contact.html page*/
ul.contact  {

	list-style-type: square;
	
  margin: 0px 0px 20px 20px;


}

ul li.contact{

font-size: 16px;

}

h3.contact{

font-size: 22px;
  color: #000000;
  margin-top: 10px;
 

}




/*End Settings for contact.html page*/


img.trans{

opacity: 0.8;

}





/*Finansije page*/





/*end finansije page*/











 /*responsive*/

 @media screen and (max-width: 1024px){


	header{

			flex-direction: column;
			height: 100%;
			padding-top: 10px;
			padding-bottom : 20px;


	}

	.presentation{


		flex-direction: column;
	}

	.sub_presentation {

		display: flex;
     flex-direction: column;
     align-items: center;

	}

	nav ul{
			flex-direction: column;
			height: 100%;

	}

 }